.Inputs {
  width: 1000px;
  display: block;
  height: auto;
  font-family: "Roboto, sans-serif";
  margin: 0 auto;
  font-size: 20px;
  &__Text {
    text-align: center;
    font-weight: 600;
    color: rgb(36, 36, 36);
    margin: 10px 0;
  }
  &__Form {
    margin: 20px auto;
    width: 100vw;
  }
  &__Block {
    width: 100vw;
    display: block;
    &--number,
    &--name {
      margin-bottom: 35px;
      height: 44px;
    }
    &--email {
      margin-bottom: 10px;
      height: 44px;
    }
    &--info {
      margin-bottom: 10px;
      height: 85px;
    }
  }
  &__Name,
  &__Email,
  &__Number {
    width: 75vw;
    height: 40px;
  }
  &__Message {
    height: 40px;
    width: 75vw;
    padding-bottom: 40px;
  }
  &__Submit {
    width: 75vw;
    justify-content: center;
    padding: 20px 5px;
    cursor: pointer;
  }
  &__Error {
    margin-top: 6px;
    color: red;
    font-size: 18px;
    font-weight: bold;
  }
}
input {
  height: 80px;
}
textarea {
  height: 160px;
}
input,
button {
  all: unset;
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input,
input::before,
input:active {
  border: 2px solid rgb(3, 163, 227);
  background: rgb(158, 245, 255);
  color: rgb(84, 84, 84);
  padding-left: 5px;
}
button {
  background: rgb(3, 163, 227);
  color: whitesmoke;
  text-align: center;
  &:hover {
    background: rgb(2, 124, 255);
  }
}
@media only screen and (max-width: 999px) {
  .Inputs {
    width: 100%;
    font-size: 17px;
    &__Block {
      &--email {
        width: 100vw;
      }
    }
    &__Name,
    &__Email,
    &__Number,
    &__Message,
    &__Submit {
      width: 90vw;
    }
  }
}
@media only screen and (max-width: 550px) {
  .Inputs {
    font-size: 20px;
  }
}
