.Menu {
	color: red;
	&__Firstline {
		margin-top: 50px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}

//grid-template:
//". One . Two . Three ." 400px/
//10vw 400px 10vw 400px 10vw 400px 10vw;
