.Estimates {
  width: 1000px;
  height: auto;
  margin: 30px auto;
  &__HeadText {
    font-size: 35px;
    color: rgb(37, 172, 250);
  }
  &__Content {
    margin-top: 20px;
    color: black;
  }
  &__Rows {
    padding: 15px 0;
    font-weight: 200;
    font-size: 20px;
  }
  &__Text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 15px 0;
    text-decoration: underline;
    cursor: pointer;
  }
  &__ActiveText {
    font-weight: 700;
  }
}
