.Contacts {
  margin-left: 16vw;
  font-size: 35px;
  &__Estimates {
    margin-top: 50px;
  }
  &__Logo {
    width: 55px;
    height: 55px;
  }
  &__Item {
    font-size: 28px;
    margin: 13px 0 0 40px;
  }
  &__Flex {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 40px;
    font-size: 32px;
    display: flex;
  }
}
@media only screen and (max-width: 550px) {
  .Contacts {
    margin-left: 3vw;
    &__Logo {
      width: 50px;
      height: 50px;
    }
    &__Item {
      font-size: 19px;
      margin-left: 30px;
    }
  }
}
