.Ledge {
  &__Menu {
    display: grid;
    width: 100vw;
    grid-template: " logo name " auto/ 50vw 50vw;
    font-size: 1.6rem;
  }
  &__Name {
    display: grid;
    padding-top: 60px;
    margin-right: 3vw;
    grid-area: name;
    text-align: center;
    color: rgb(12, 200, 252);
    -webkit-text-stroke: 0.8px black;
  }
  &__Logo {
    display: grid;
    margin-left: 5vw;
    padding-top: 50px;
    justify-content: center;
    background-size: contain;
    grid-area: logo;
    width: 35vw;
    height: 100px;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 550px) {
  .Ledge {
    &__Menu {
      grid-template: "logo" auto/ 100vw;
    }
    &__Logo {
      display: grid;
      grid-area: logo;
      width: 90vw;
    }
    &__Name {
      display: none;
    }
  }
}
