.Projects {
	width: 100vw;
	height: auto;
	margin: 50px auto 0;
	&__HeadText {
		width: 1000px;
		margin: auto 10vw 40px;
		font-size: 35px;
		color: rgb(37, 172, 250);
	}
	&__Text {
		width: 1000px;
		font-size: 15px;
		margin: 20px 10vw 40px;
	}
	&__Content {
		margin-top: 20px;
		color: black;
	}
	&__Rows {
		padding: 15px 0;
		font-weight: 200;
		font-size: 20px;
	}
}
p {
	font-size: 15px;
}
@media only screen and (max-width: 999px) {
	.Projects {
		line-break: auto;
		&__HeadText {
			width: 90vw;
			margin: auto 5vw 40px;
		}
		&__Text {
			width: 90vw;
			margin: auto 5vw 40px;
		}
	}
}
@media only screen and (max-width: 550px) {
	.Projects {
		line-break: auto;
	}
}
